/*

   Name: Prince Ngotshane 
   Date: 25/02/2026

 */


* {
  font-family: "Comic Sans MS", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > div {
  display: grid;
  border: 2px solid black;
}
body > div > div.id {
  background-color: yellow;
  border: 2px solid black;
  padding: 2px;
}

body > div > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  border: 2px solid black;
  padding: 2px;
}

span.class {
  font-style: italic;
}

div.class {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  border: 2px solid black;
}

div.class > span {
  grid-column: 3;
  grid-row: 1;
  border: 2px solid black;
  padding: 2px;
  align-self: start;
}

div.class > div.id {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: yellow;
  border: 2px solid black;
  padding: 2px;
}

div#H {
  grid-column: 1 / 4;
  grid-row: 3;
  width: calc(100% / 3);
  margin: 0 auto;
  border: 2px solid black;
  text-align: right;
  padding: 2px;
}

div#class {
  grid-column: 2;
  grid-row: 1 / 3;
  border: 2px solid black;
  padding: 2px;
}

